[alias]
  co = checkout
  cob = checkout -b
  wip = !git add -u && git commit -m "WIP" 
  cp = cherry-pick
  s = status -uno
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  dl = clone --depth 1
  untracked = ls-files --others --exclude-standard
  mff = merge --no-ff
  sub = submodule
  subdate = submodule update
[color]
  ui = auto
[push]
  default = current
