[includeIf "gitdir:~/code/ln/"]
  path = ~/code/ln/.gitconfig

[init]
  defaultBranch = main

[user]
  name = Daniel Strittmatter
  email = daniel@lockitnetwork.com
  signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDLsvcsP9Yot9F7VSVjVDnfIQy0+FgRs6bUXYuVcTJOIBHiF90iadceM2ifZVXeT9RXkGrbsg/3XGiO1RCHq4A3Wy/Re6I0ROwLeQ9bOfg/7jdWCMZwFab5NqjWHOPtRWAzaF0HZRHn6WnVuP0jvYXhEdAj1g/L4o6i+ZJrAJqCeaoDimuogL0zuQsC8//pXIheElSVMGtC0wWGACyHCdvbtFISaaqgDsGL7BVETpfmm4ECmsoRD5MoQRzZMtoOUR5pVPALBdLiu3Fr2goJwNQXwZRfo86k1JZNkMP1sncewyxHtIBWPvPHJCiQ7+DSCm4vLAGjXZ3KNTTf6RGHKGUR

[core]
  editor = nvim -c \"startinsert!\"
  pager = delta
  precomposeunicode = true

[alias]
  co = checkout
  cob = checkout -b
  wip = !git add -u && git commit -m "WIP" 
  undo = reset HEAD~1 --mixed
  ci = commit
  k = gui
  cp = cherry-pick
  s = status -uno
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --all
  ec = config -global -e
  dl = clone --depth 1
  untracked = ls-files --others --exclude-standard
  msq = merge --squash
  mff = merge --no-ff
  ff = merge --ff-only
  sub = submodule
  subdate = submodule update --init
  puu = push -u origin HEAD
  sdiff = diff --cached
  mergeAll = !git branch --contains HEAD --no-merge | xargs git merge
  reb = rebase -i --committer-date-is-author-date
  fp = push --force-with-lease

[branch]
  sort = -committerdate

[commit]
  template = /Users/smatter/.stCommitMsg
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  allowedSignersFile = /Users/smatter/.ssh/allowed_signers

[push]
  default = simple

[pull]
  rebase = true

[color]
  ui = auto

[column]
  ui = auto

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[diff]
  colorMoved = default

[delta]
  navigation = true

[merge]
  conflictstyle = diff3

[interactive]
  diffFilter = delta --color-only

[safe]
	directory = /Users/smatter/code/ln/projects/viviana-cloudbox2/scratch/build
